
.center-content {
    max-width: 100%;  
    display: flex;
    justify-content: center;  
}


.sketch-border {
    width: 601px;
    height: 601px;
    border: 2px solid black;
}

.sketch-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 600px;
    height: 600px;
    background-color: #f3f3f3;
    border-top: 1px solid rgb(165, 165, 165);
    border-left: 1px solid rgb(165, 165, 165);
}

.sketch-screen>div {
    height: auto;
    flex: 1 0 auto;

    /* make columns vertical flexboxes */
    display: flex;
    flex-direction: column;
    
}

.sketch-screen>div>* {
  /* make rows evenly distributed */
    flex: 1;
}

.row {
    background-color: white;
    color: rgba(0, 0, 0, 10)

}